/* .row {
  background-color: rgb(133, 182, 224);
} */
.container-fluid{
    font-family: "Roboto Condensed", sans-serif;
}
h1 {
    text-transform: capitalize;
  }
  .profile {
    background-color: rgb(237, 239, 243);
  
    border: 1px solid rgb(224, 224, 231);
    /* margin: 2px; */
    padding: 5px;
    /* text-align: center; */
  }
  .details {
    background-color: rgb(249, 255, 253);
  }
  .propic {
    width: 200px;
    height: 200px;
    border: 2px solid rgb(104, 104, 109);
    border-radius: 50%;
  }
  a {
    color: black;
  }
  a:hover {
    color: firebrick;
  }
  .mess-details {
    background-color: #e8efeb;
    border: 1px solid rgb(224, 224, 231);
  }
  .room-details {
    background-color: rgb(242, 251, 255);
    border: 1px solid rgb(224, 224, 231);
    padding: 5px;
  }
  .reviews{
    background-color: #f6f8ff;
    border: 1px solid rgb(224, 224, 231);
  }
  .reviewer-name{
    text-transform: capitalize;
    color: #910045;
  }
  .product-summary{
    background-color: #f6f8ff;
    border: 1px solid rgb(224, 224, 231);

  }
  /*================================================= */
  h1,
h2,
h3,
h4,
h5,
h6 {
  color: #292b2c;
  /* font-family: Arial, Helvetica, sans-serif; */
}

a {
  color: #292b2c;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  /* font-family: Arial, Helvetica, sans-serif; */
}

a:hover {
  color: #e05164;
  text-decoration: none;
}

a:focus {
  outline: none;
}

.shop_container {
  /* position: relative; */
  top: -7px;
  /* top: 100px; */
  margin-top: 20px;
}

.product {
  background-color: #fff;
  /* position: relative; */
  margin-bottom: 30px;
  transition: all 0.11s ease-in-out;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
  /* margin: 5px; */
  /* display: -ms-flexbox; */
  /* display: flex; */
  /* -ms-flex-align: center; */

  /* align-items: center; */
  /* -ms-flex-pack: center; */
  /* justify-content: center; */
  /* white-space: nowrap; */
  /* text-overflow: ellipsis; */
  /* overflow: scroll; */
  /* text-transform: capitalize; */
  -webkit-transform: translateY(15px);
  -ms-transform: translateY(15px);
  -o-transform: translateY(15px);
  transform: translateY(15px);

  background-color: rgb(238, 243, 245);
  padding: 7px 15px;
  height: 400px;
  width: 400px;

}
.img-thumbnail {
  max-height: 240px;
  object-fit: cover;
  width: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: auto;
}
.product_info {
  /* min-height: 300px; */
  margin-bottom: 5px;
}
.product:hover {
  opacity: 1;
  z-index: 0;
  -moz-transform: translateX(0);
  -webkit-transform: translateX(0);
  transform: translateX(0);
}
.price {
  color: rgb(233, 64, 64);
}
.mess-name {
  margin: 4px 1px;
  text-align: center;
}
.product_img {
  text-align: center;
}
.ttl {
  text-align: center;
  margin: 20px;
}