.pic-col {
  background-color: aquamarine;
}
.details-col {
  background-color: coral;
}
.left-col {
  border-right: 2 px solid rgb(29, 27, 27);
}
.room-comment {
  border-left: 4px solid #a1aad6;
  /* border-radius: 5px; */
}
.username {
  color: #e45641;
  text-transform: capitalize;
}
hr {
  width: auto;
  height: 1px;
  box-shadow: 1px 1px 1px lightblue;
}

a {
  color: #075077;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  font-family: Arial, Helvetica, sans-serif;
}

a:hover {
  color: #e05164;
  text-decoration: none;
}

a:focus {
  outline: none;
}
/*  */

body {
  background-color: #f5f5f5;
}
.container {
  font-family: "Roboto Condensed", sans-serif;
}
.hedding {
  font-size: 20px;
  color: #448ae6;
  text-transform: capitalize;
}
.main-section {
  position: absolute;
  left: 50%;
  right: 50%;
  transform: translate(-50%, 5%);
}
.left-side-product-box img {
  width: 100%;
}
.left-side-product-box .sub-img img {
  margin-top: 5px;
  width: 83px;
  height: 100px;
}
.right-side-pro-detail span {
  font-size: 15px;
}
.right-side-pro-detail p {
  font-size: 25px;
  color: #1f0000;
}
.right-side-pro-detail .price-pro {
  color: #e45641;
}
.right-side-pro-detail .tag-section {
  font-size: 18px;
  color: #5d4c46;
}
.right-side-pro-detail {
  box-shadow: 4px 4px 10px rgb(223, 226, 228);
}
.pro-box-section .pro-box img {
  width: 100%;
  height: 200px;
}
@media (min-width: 360px) and (max-width: 640px) {
  .pro-box-section .pro-box img {
    height: auto;
  }
}
.cat{
  font-size: 20px;
  background-color: #00ae71;
  color: aliceblue;
  padding: 3px;
  text-transform: capitalize;
}
.container{
  background-color: #f5fcff;
}
img{
  border:1px solid #f5fcff;
  transition:transform 0.40s ease;
}
img:hover {
  -webkit-transform:scale(2.5); /* or some other value */
  transform:scale(2.5);
}
.img1{
  max-width: 200px;
  max-height: 200px;
}
.img2{
  max-width: 100px;
  max-height: 100px;
}
.img3{
  max-width: 100px;
  max-height: 100px;
}
.price-area{
  /* border: 1px  ; */
  background-color: rgb(212, 255, 255);
  border-radius: 6%;
  padding: 5px;
  font-size: 16pt;
}
.details{
  border: 1px solid rgb(222, 216, 216);
  padding: 6px;
}
.pic-n-detail{
  background-color: #ecfffb;
}
.comments{
  /* margin-top: 7px; */
  background-color: rgb(252, 243, 242);
}